/* ==========================================================================
   #GLOBAL
   ========================================================================== */

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #422918;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2em;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* ==========================================================================
   #MENU
   ========================================================================== */

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
}

.menu a {
    color: #222;
}

.menu--secondary, .menu--primary {
    background-color: #ededed;
}

.menu--secondary a, .menu--primary a {
    display: block;    
    padding: 1em;
    text-align: center;
    font-size: 0.8em;
    line-height: 2.5;
}

.menu--secondary a:hover {
    background-color: #bda370;
}

/* ==========================================================================
   #JUMBOTRON
   ========================================================================== */

.jumbotron {
    text-align: center;
    margin-bottom: 4em;
}

.jumbotron__title {
    margin-top: 4em;
    margin-bottom: 1em;
}

.jumbotron__text {
    font-weight: normal;
    font-size: 1.2em;
}

.jumbotron__text:after {
    content: '';
    display: block;
    width: 60%;
    height: 0px;
    margin: 20px auto 0;
    border-bottom: 1px solid #9c9c9c;
}

/* ==========================================================================
   #FILTER
   ========================================================================== */

.panel {
    padding: 4em 1.5em;
    background-color: #d8d8d8;
}

.panel__help {
    margin-bottom: 2em;
    line-height: 1.4;
}

.search-bar__input {
    width: 100%;
    margin-bottom: 2em;
}

.filter {
    padding: 0;
    border: none;
}

.filter__legend {
    font-weight: bold;
    font-size: 1.3em;
}

.filter__group {
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #422918;
}

.filter__group:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
    

.filter__item {
    font-size: 1.2em;
    line-height: 1.5;
}

.filter__item label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.filter__item input {
    position: absolute;
    z-index: -9999;
}

.filter__item span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #B3B3B3;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
                      0px 1px 0px rgba(255, 255, 255, 0.4);
}

.filter__item span:after {
    box-sizing: content-box;
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.filter__item input:checked + span:after {
    opacity: 1;
}

.filter__item input:checked + span {
    background: #239E46;
}

/* ==========================================================================
   #FURNITURE
   ========================================================================== */

.furniture {
    padding: 1.5em;
}

.furniture__item {
    margin-bottom: 2em;
}

.furniture__item img {
    max-width: 100%;
    display: block;
}

.furniture__link {
    display: block;
    background-color: #c99d66;
    line-height: 2.5;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* ==========================================================================
   #MEDIA-QUERY
   ========================================================================== */

@media (min-width: 370px) {
    
    .filter__group {
	display: flex;
	flex-wrap: wrap;
    }

    .filter__item {
	flex: 50% 0;
	padding-right: 10px;
    }
}

@media (min-width: 460px) {

    .container {
	padding: 0 3em;
    }
    
    .panel {
	padding: 4em 3em;
    }

    .furniture {
	padding: 2em 3em;
    }
}